<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="Preskool - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, html5, responsive, Projects">
    <meta name="author" content="Dreams technologies - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>Preskool Admin</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <!-- Theme Script js -->
    <script src="assets/js/theme-script.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- Feather CSS -->
    <link rel="stylesheet" href="assets/plugins/icons/feather/feather.css">

    <!-- Tabler Icon CSS -->
    <link rel="stylesheet" href="assets/plugins/tabler-icons/tabler-icons.css">

    <!-- Daterangepikcer CSS -->
    <link rel="stylesheet" href="assets/plugins/daterangepicker/daterangepicker.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="assets/plugins/select2/css/select2.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/plugins/fontawesome/css/all.min.css">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="assets/plugins/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/plugins/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css">


    <!-- Main CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>

    <div id="global-loader">
        <div class="page-loader"></div>
    </div>

    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
       <%- include('header') %>
        <!-- /Header -->

        <!-- Sidebar -->
   <%- include('sidebar') %>
        <!-- /Sidebar -->

        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <div class="content">

                <!-- Page Header -->
                <div class="d-md-flex d-block align-items-center justify-content-between mb-3">
                    <div class="my-auto mb-2">
                        <h3 class="page-title mb-1">Admin Dashboard</h3>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="index.html">Dashboard</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Admin Dashboard</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="row">
                    <div class="col-md-12">

                        <!-- Dashboard Content -->
                        <div class="card bg-dark">
                            <div class="overlay-img">
                                <img src="assets/img/bg/shape-04.png" alt="img" class="img-fluid shape-01">
                                <img src="assets/img/bg/shape-01.png" alt="img" class="img-fluid shape-02">
                                <img src="assets/img/bg/shape-02.png" alt="img" class="img-fluid shape-03">
                                <img src="assets/img/bg/shape-03.png" alt="img" class="img-fluid shape-04">
                            </div>
                            <div class="card-body">
                                <div class="d-flex align-items-xl-center justify-content-xl-between flex-xl-row flex-column">
                                    <div class="mb-3 mb-xl-0">
                                        <div class="d-flex align-items-center flex-wrap mb-2">
                                            <h1 class="text-white me-2">Welcome Back</h1>
                                        </div>
                                        <p class="text-white">Have a Good day at work</p>
                                    </div>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- /Dashboard Content -->

                    </div>
                </div>

                <div class="row">

                    <!-- Total Students -->
                    <div class="col-xxl-3 col-sm-6 d-flex">
                        <div class="card flex-fill animate-card border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xl bg-danger-transparent me-2 p-1">
                                        <img src="assets/img/icons/student.svg" alt="img">
                                    </div>
                                    <div class="overflow-hidden flex-fill">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h2 class="counter" id="total_students"></h2>
                                        </div>
                                        <p>Total Students</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-top mt-3 pt-3">
                                    <p class="mb-0">Active : <span class="text-dark fw-semibold" id="active_students">0</span></p>
                                    <span class="text-light">|</span>
                                    <p>Inactive : <span class="text-dark fw-semibold" id="inActive_students">0</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Total Students -->

                    <!-- Total Teachers -->
                    <div class="col-xxl-3 col-sm-6 d-flex">
                        <div class="card flex-fill animate-card border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xl me-2 bg-secondary-transparent p-1">
                                        <img src="assets/img/icons/teacher.svg" alt="img">
                                    </div>
                                    <div class="overflow-hidden flex-fill">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h2 class="counter" id="total_staff">0</h2>
                                        </div>
                                        <p>Total Staffs</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-top mt-3 pt-3">
                                    <p class="mb-0">Active : <span class="text-dark fw-semibold" id="active_staff">0</span></p>
                                    <span class="text-light">|</span>
                                    <p>Inactive : <span class="text-dark fw-semibold" id="inActive_staff">0</span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Total Teachers -->

                    <div class="col-xxl-3 col-sm-6 d-flex">
                        <div class="card flex-fill animate-card border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xl me-2 bg-warning-transparent p-1">
                                        <img src="assets/img/icons/staff.svg" alt="img">
                                    </div>
                                    <div class="overflow-hidden flex-fill">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h2 class="counter" id="total_events">0</h2>
                                        </div>
                                        <p>Total Events</p>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-between border-top mt-3 pt-3">
                                    <p class="mb-0">Active : <span class="text-dark fw-semibold" id="active_events">0</span></p>
                                    <span class="text-light">|</span>
                                    <p>Inactive : <span class="text-dark fw-semibold" id="inActive_events">0</span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Total Subjects -->
                    <div class="col-xxl-3 col-sm-6 d-flex">
                        <div class="card flex-fill animate-card border-0">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="avatar avatar-xl me-2 bg-success-transparent p-1">
                                        <img src="assets/img/icons/subject.svg" alt="img">
                                    </div>
                                    <div class="overflow-hidden flex-fill">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <h2 class="counter" id="total_gallery">0</h2>
                                        </div>
                                        <p>Total Gallery</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Total Subjects -->

                </div>


            </div>

        </div>
        <!-- /Page Wrapper -->


    </div>
    <!-- /Main Wrapper -->
  <script src="js/api.js">
  </script>
  <script src="js/uploadFile.js"></script>
    <!-- jQuery -->
    <script src="assets/js/jquery-3.7.1.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Bootstrap Core JS -->
    <script src="assets/js/bootstrap.bundle.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Daterangepikcer JS -->
    <script src="assets/js/moment.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>
    <script src="assets/plugins/daterangepicker/daterangepicker.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>
    <script src="assets/js/bootstrap-datetimepicker.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Feather Icon JS -->
    <script src="assets/js/feather.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Slimscroll JS -->
    <script src="assets/js/jquery.slimscroll.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Chart JS -->
    <script src="assets/plugins/apexchart/apexcharts.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>
    <script src="assets/plugins/apexchart/chart-data.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Owl JS -->
    <script src="assets/plugins/owlcarousel/owl.carousel.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Select2 JS -->
    <script src="assets/plugins/select2/js/select2.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <!-- Counter JS -->
    <script src="assets/plugins/countup/jquery.counterup.min.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>
    <script src="assets/plugins/countup/jquery.waypoints.min.js" type="299570f26b967fcbb12c0f58-text/javascript">
    </script>

    <!-- Custom JS -->
    <script src="assets/js/script.js" type="299570f26b967fcbb12c0f58-text/javascript"></script>

    <script src="https://preskool.dreamstechnologies.com/cdn-cgi/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js" data-cf-settings="299570f26b967fcbb12c0f58-|49" defer></script>
  
    <script>
        const BACKEND_URL="<%= BACKEND_URL %>"
      const fetchData = async (endpoint, body = null) => {
    try {
        const response = await fetchWithTimeout(`${BACKEND_URL}${endpoint}`, {
            method: body ? "POST" : "GET",
            headers: {
                'content-type': 'application/json'
            },
            ...(body && { body: JSON.stringify(body) })
        });

        const data = await response.json();

        if (!data?.success) {
            // handle server-side failure
            return [];
        }

        return data;
    } catch (error) {
        console.error(`Error fetching ${endpoint}:`, error);
        return [];
    }
};

        // Usage
        document.addEventListener("DOMContentLoaded", async function () {
            const studentData = await fetchData('/students/get_student_list', { get_all: true });
            const eventData = await fetchData('/event/get_event_list', { get_all: true });
            const staffData = await fetchData('/staff/get_staff_list', { get_all: true });
            const galleryData = await fetchData('/gallery/get_gallery_details'); // GET request

            console.log(studentData, eventData, staffData, galleryData);

            if(!studentData?.success){
                //handle error
            }
            else{
                document.getElementById("total_students").innerHTML = studentData?.total_students || 0;
                const activeStudents=studentData?.students?.filter((student) => student?.student_status);
                const inActiveStudents=studentData?.students?.filter((student) => !student?.student_status);
                console.log(activeStudents, inActiveStudents);
                document.getElementById("active_students").innerHTML = activeStudents?.length || 0;
                document.getElementById("inActive_students").innerHTML = inActiveStudents?.length || 0;
            }

            if(!eventData?.success){
                //handle error
            }
            else{
                document.getElementById("total_events").innerHTML = eventData?.total_events || 0;
                const activeEvents=eventData?.events?.filter((event) => event?.event_status);
                const inActiveEvents=eventData?.events?.filter((event) => !event?.event_status);
                document.getElementById("active_events").innerHTML = activeEvents?.length || 0;
                document.getElementById("inActive_events").innerHTML = inActiveEvents?.length || 0;

                const eventContainer=document.getElementById("event_container")
                eventContainer.innerHTML=""

                 activeEvents.forEach((event) => {
        const createdDate = new Date(event.event_created_on);
        const today = new Date();
        const eventDate = new Date(event.event_date);
        const timeDiff = Math.ceil((eventDate - today) / (1000 * 60 * 60 * 24));
        const remainingDays = timeDiff >= 0 ? `${timeDiff} Days` : "Expired";

        const eventCard = `
            <div class="d-sm-flex align-items-center justify-content-between mb-3">
                <div class="d-flex align-items-center overflow-hidden me-2 mb-2 mb-sm-0">
                    <span class="bg-warning-transparent avatar avatar-md me-2 rounded-circle flex-shrink-0">
                        <i class="ti ti-package fs-16"></i>
                    </span>
                    <div class="overflow-hidden">
                        <h6 class="text-truncate mb-1">${event.event_title} (${event.event_type})</h6>
                        <p class="mb-0 text-muted"><i class="ti ti-calendar me-2"></i>Added on : ${createdDate.toLocaleDateString()}</p>
                    </div>
                </div>
                <span class="badge bg-light text-dark"><i class="ti ti-clock me-1"></i>${remainingDays}</span>
            </div>
        `;

        eventContainer.insertAdjacentHTML("beforeend", eventCard);
    });
            }

            if(!staffData?.success){
                //handle error
            }
            else{
                document.getElementById("total_staff").innerHTML = staffData?.total_staffs || 0;
                const activeStaffs=staffData?.staffs?.filter((staff) => staff?.staff_info?.status);
                const inActiveStaffs=staffData?.staffs?.filter((staff) => !staff?.staff_info?.status);
                document.getElementById("active_staff").innerHTML = activeStaffs?.length || 0;
                document.getElementById("inActive_staff").innerHTML = inActiveStaffs?.length || 0;
            }

            if(!galleryData?.success){
                //handle error
            }
            else{
                document.getElementById("total_gallery").innerHTML = galleryData?.gallery?.length || 0;
            }
        });

    </script>
</body>

</html>